<html>
<head>
	<title>Страница Входа</title>
	<link rel="stylesheet" href="../static/login-style.css">
	<link rel="stylesheet" href="../static/preloader.css">
	{# Фавикон #}
	<link rel="apple-touch-icon" sizes="180x180" href="../static/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/fav/favicon-16x16.png">
	<link rel="manifest" href="../static/fav/site.webmanifest">
	<link rel="mask-icon" href="../static/fav/safari-pinned-tab.svg" color="#5bbcd5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">

	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#loginform').submit(function (e){
				e.preventDefault();
				$.ajax({
				url:'{{url_for("index")}}',
				method: 'POST',
				dataType: 'html',
				data: $(this).serialize()
				})
				.done(function(data) {
					const welcome = document.querySelector('#welcome')
					switch(data) {
						case ('badpass'):
							//color: red; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
							welcome.style.color = 'red';
							welcome.style.fontFamily = "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
							welcome.textContent = 'Неверная комбинация!';
							break;
						case ('baddb'):
							welcome.style.color = 'red';
							welcome.style.fontFamily = "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
							welcome.textContent = 'Ошибка соединения с БД!';
							break;
						case ('ok'):
							document.querySelector('.preloader-hide').classList.add("preloader-active");
							window.location.replace("{{url_for('index')}}");
							break;
                        default:
							console.log(data);
							break;
					};
				})
				.fail(function(){
					alert('Внутрення ошибка, перезагрузите страницу!');
				});
			});
		});

	</script>
</head>
<body>
		<div class="page">
			<div class="preloader-hide">
				<div class="preloader-2">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="container">
				<form id="loginform" autocomplete="off" class="formlogin"action="" method="POST" >
						<h1 id="welcome">Форма входа</h1>
						{%for flash in get_flashed_messages() %}
								{% if flash == 'badpass'%}
									<h1 style="color: red; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Неверная комбинация!</h1>
									<style> #welcome{ display:none}</style>
								{% elif flash == 'baddb' %}	
									<h1 style="color: red; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Ошибка соединения с базой данных!</h1>
									<style> #welcome{ display:none}</style>
								{% endif %}
						{% endfor %}
						<input type="hidden" name="status" value="login">
						<p><input class="field" type="text" name="username" placeholder="Псевдоним" autocomplete="off"/>
						<p><input class="field" type="password" name="password" placeholder="Пароль" autocomplete="off"/>
						<p><button id="submit" type=submit value=Вход>Вход</button>
				</form>
			</div>	
	</div>
</body>
</html>
