@font-face {
  font-family: DTC;
  src: url(./fonts/DTC.otf);
}
@font-face {
  font-family: current;
  src: url(./fonts/current.otf);
}
body{
  background: linear-gradient(to bottom, #b6e7fc, #fcfeff);
}
.opacity{
  opacity: 0 !important;
  transition: all 1s !important;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(320deg, #b6e7fc, #fcfeff);
}
.header{
  height: 10vh;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.left_block{
  width: 40vw;
  padding-left: 1em;
  border-bottom: outset;
  flex-direction: column;
  margin: 0;
}
.left_block > h1{
  margin: 0;
}
.zero-mode{
  color: #7d16ef;
  font-family: DTC;
  margin: 0;
}
.first-mode{
  margin: 0;
  color: #1659ef;
  font-family: system-ui;
  text-transform: uppercase;
}
.second-mode{
  margin: 0;
  color: #70788b;
  font-family: system-ui;
}
.left_block > p {
  margin-bottom: 0px;
}
.center_block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  border-top: inset;
  border-left: inset;
  border-right: inset;
}
.center_block > button{
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.3s;
  background: #ffffff00;
  z-index: 5;
}
.right_block{
  width: 40vw;
  margin-right: 0em;
  display: flex;
  align-items: flex-end;
  border-bottom: inset;
  justify-content: flex-end;
  padding-right: 1em;
}
.right_block > button {
  border: none;
  background: #ffffff00;
  border: none;
  border-radius: 3em;
  width: 5em;
  height: 5em;
}
.logout-svg{
  position: relative;
  float: right;
}
.logout-svg:hover{
  background: radial-gradient(#f7f01a99, #b9e8fc);
  cursor: pointer;
}

.settings-svg{
  padding: 0;
  margin: 0;
}
.settings-svg:hover{
  background: radial-gradient(#f7f7f7, #b9e8fc);
  cursor: pointer;
  border-radius: 3em;
  box-shadow: inset 0 0 10px 6px #67ff87fa;
}

.front{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.3s;
}
.rh_block{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 99;
  background: #dbeff36b;
  position: absolute;
}
.rh_block > div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f6fafd;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 0 1em 2em #f6fafdbd;
}
.rh_block > div > h1{
  font-family: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif";
  margin: 0;
}
.rh_block > div > p{
  white-space: pre-wrap;
  font-size: large;
}
.common_btn{
  font-size: large;
  border-radius: 5px;
  width: 6em;
  height: 1.5em;
  border-style: none;
  box-shadow: 2px 3px 0.2em rgb(32 33 34);
  display: flex;
  justify-content: center;
  background: #20a9ddb0;
  align-items: center;
  font-family: math;
  color: #0a1b3a;
}
.common_btn:hover{
  background: #a2c8d7b0;
  cursor: pointer;
}
.common_btn:active{
  box-shadow: inset 2px 3px 0.2em rgb(32 33 34);
}


/*Блок параметров списка серверов */
#servlist{
  overflow: auto;
  max-height: 80vh;
  width: 15vw;
  padding: 0.2em;
}
#servlist > form
{
  margin-bottom: 1em;
  background: none;
  text-align: left;
  width: auto;
  border: 4px solid;
  border-image: linear-gradient(150deg, #fcffe3, #1ca8ff) 1;
}
#servlist > form > div > h3
{
  margin: 0;
  margin-bottom: 0.2em;
  font-family: monospace;
  font-size: large;
}

#servlist > form > div > a
{
  width:auto;
}
#servcontrol {
  position: fixed;
  margin-top: 1em;
  min-width: 35em;
  width: 75vw;
  right: -80vw;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  border: solid;
  border-top-width: 0;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px rgb(98 120 133 / 39%);
  border-image: linear-gradient(98deg, #ffffff, #b6e7fc) 1;
  background: linear-gradient(320deg, #b6e7fc, #fcfeff);
  flex-direction: column;
  align-items: center;
  transition: all 0.5s cubic-bezier(0, 0, 0.22, 0.98);
}
.servercontrol-move{
  right:0 !important;
}
#servcontrol_header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background: linear-gradient(267deg, #b6e7fc, #fcfeff);
}
#servcontrols_front{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#servcontrols > div {
  width: 100%;
  display: flex;
  justify-items: start;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
#servcontrols > h2{
  margin-top: 0;
  font-family: 'current';
  text-align: center;
}
.servtable{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  border-collapse: collapse;
  text-align: left;
}
.servtable > tr > th{
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
  background: #97bdde94;
  color: #3f4b4c;
  padding: 10px 20px;
  border-radius: 5px;
}


/*Открывающиеся меню*/
.mainmenu{
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  justify-content: space-between;
  z-index: 3;
  width: 100vw;
  height: 87vh;
  background: transparent;
  box-shadow: none;
  transition: all 0.2s;
}
.mainmenu_show{
  background: #ffffff7d !important;
  box-shadow: inset 0 0 20px 0px rgb(255 255 255) !important;
  cursor: not-allowed !important;
}
.left_pannel{
  transition: 0.2s ease-out;
  position: absolute;
  width: 25vw;
  min-width: 25em;
  left: -100vw;
  height: inherit;
  z-index: 2;
  background: linear-gradient(320deg, #6eb2eb, #f9fdff);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left_pannel_move{
  left:0px !important;
  cursor: default;
}
.menu_front{
  width: 100%;
  margin-top: 2em;
}
.menu_front > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2em;
}
.menu_front > div > h2 {
  margin: -0.6em 0 0 0;
  background: #b3d4eb;
  z-index: 4;
  border-radius: 5px;
  font-family: monospace;
  padding-right: 1em;
  margin-left: 0.5em;
  padding-left: 0.4em;
}
.sa_controls{
  box-shadow: 7px 6px 5px 0px #7725dd38;
  border: solid 2px;
  border-image: linear-gradient(150deg, #fbfdff, #7725dd7d) 1;
  border-radius: 7px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.sa_controls > h2{
  color: #8021e9;
  box-shadow: 0em 0em 0.3em #7e00ff99;
}
.sa_controls > div{
  height: 2.4em;
  padding: 0.5em 1em;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  margin-top: -.8em;
}
.cl_button{
  font-size: large;
  min-width: 6em;
  height: 1.5em;
  border-style: none;
  box-shadow: 4px 4px 3px 0px rgb(32 33 34 / 43%);
  display: flex;
  justify-content: center;
  margin-top: 1em;
  align-items: center;
  font-family: system-ui;
  color: #0a1b3a;
  margin-right: 1em;
}
.cl_button:active{
  box-shadow: inset 2px 3px 0.2em rgb(32 33 34);
}
.sa_button{
  background: #9c65bf6b;
}
.sa_button:hover{
  background: #b5bfe2;
  cursor: pointer;
}

.minibutton{
  min-width: 6em;
  height: 1.5em;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: math;
  color: #0a1b3a;
  margin: 0.4em auto 0 auto;
  font-size: x-large;
  border-radius: 0;
  box-shadow: 0px 0px 0.1em rgb(32 33 34);
}
.sa_minibutton{
  background: #9c65bf6b;
}

.sa_minibutton:hover{
  background: #b5bfe2;
  cursor: pointer;
}

.adm_minibutton{
  background: #1537f885;
}

.adm_minibutton:hover{
  background: #6679e6d8;
  cursor: pointer;
}

.minibutton:active{
  box-shadow:inset 0px 0px 0.1em rgb(32 33 34);
}

.adm_controls{
  box-shadow: 7px 6px 5px 0px #1683e338;
  border: solid 2px;
  border-image: linear-gradient(150deg, #fbfdff, #2276aa7d) 1;
  border-radius: 7px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.adm_controls >h2{
  color: #2159e9;
  box-shadow: 0em 0em 0.3em #3d93ed99;
}
.adm_controls > div {
  height: 2.4em;
  padding: 0.5em 1em;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  margin-top: -.8em;
}
.adm_button{
  background: #5072ff6b;
}
.adm_button:hover{
  background: #5072ff38;
  cursor: pointer;
}
.rndbutton{
  height: 1.5em;
  border-style: none;
  justify-content: center;
  background: #f8f8f894;
  font-family: math;
  color: #0a1b3a;
  margin: 0.4em auto 0 auto;
  font-size: x-large;
  border-radius: 0;
  box-shadow: 0px 0px 0.1em rgb(32 33 34);
}
.rndbutton:hover{
  background: #f8f8f8;
}
.rndbutton:active{
  box-shadow:inset 0px 0px 0.1em rgb(32 33 34);
}


.preloader-right{
  width: 50vw !important;
  min-width: 25em;
  background: transparent !important;
  box-shadow: none !important;
  right: 0;
}
.right_pannel{
  transition: 0.2s ease-out;
  background: linear-gradient(308deg, #d0d0d0, #a0cdf2);
  z-index: 2;
  border-radius: 15px;
  width: 72vw;
  min-width: 25em;
  height: inherit;
  position: absolute;
  right: -100vw;
}
.right_pannel_move{
  right: 0 !important;
  cursor: default;
}

.right_pannel_header{
  display: flex;
  justify-content: flex-start;
  height: auto;
}
.cl-btn{
  background: #ffffff00;
  border: none;
  padding-left: 1.2em;
}
.right_pannel_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.el_right_pannel{
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: inset;
  padding: 0.5em;
  position: fixed;
  min-width: 25em;
  width: 70vw;
  max-height: 80vh;
}
.right_pannel_message_info{
  margin: 0;
  display: flex;
  align-items: center;
  font-family: cursive;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  font-size: x-large;
}
.neonText-green {
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
.neonText-red {
  text-shadow: 
      0 0 7px #fff, 
      0 0 10px #fff, 
      0 0 21px #fff, 
      0 0 42px #ff0037, 
      0 0 82px #ff0037, 
      0 0 92px #ff0037, 
      0 0 102px #ff0037, 
      0 0 151px #ff0037;
}
.infoblock{
  font-size: large;
  text-align: justify;
  width: 95%;
}
.right_input{
  font-size: x-large;
  border-radius: 5px;
  background: linear-gradient(89deg, #ffffff, #7dc3d9bd);
  width: 15em;
  margin-bottom: 0.2em;
  border-width: 0.01em;
}
.right_select{
  font-size: x-large;
  border-radius: 5px;
  background: linear-gradient(89deg, #ffffff, #7dc3d9bd);
  max-width: 15vw;
  margin-bottom: 0.2em;
  border-width: 0.01em;
}
.sah2{
  margin-top: 0;
  color: #47187a;
}
.admh2{
  margin-top: 0;
  color: #2b0ed1;
}
#b-userdel{
  background: #f59c9c;
}
#b-userdel:hover{
  background: #ebc3c3;
}

/* Незримая часть Фронта */
.invisible{
  position: absolute;
}
.svg-btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.svg-btn > div{
  width: 100%;
  height: 100%;
}
.svg-btn-64{
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.svg-img-24x24 {
  width: 24px;
  height: 24px;
}
.svg-img-64x64 {
  width: 64px;
  height: 64px;
}
.img-up{
  background: url(../static/img/up.svg);
}
.img-up:hover{
  background: url(../static/img/up-h.svg);
}
.img-left{
  background: url(../static/img/left.svg);
}
.img-left:hover{
  background: url(../static/img/left-h.svg);
}
.img-right{
  background: url(../static/img/right.svg);
}
.img-right:hover{
  background: url(../static/img/right-h.svg);
}
.img-down{
  background: url(../static/img/down.svg);
}
.img-down:hover{
  background: url(../static/img/down-h.svg);
}
.img-down-64{
  background: url(../static/img/64-down.svg);
}
.img-down-64:hover{
  background: url(../static/img/64-down-h.svg);
}
.img-plus{
  background: url(../static/img/plus.svg);
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.img-plus:hover{
  background: url(../static/img/plus-h.svg);
}
.img-pencil{
  background: url(../static/img/pencil.svg);
}
.img-pencil:hover{
  background: url(../static/img/pencil-h.svg);
}
.img-cancel{
  background: url(../static/img/cancel.svg);
}
.img-cancel:hover{
  background: url(../static/img/cancel-h.svg);
}
.img-save{
  background: url(../static/img/save.svg);
}
.img-save:hover{
  background: url(../static/img/save-h.svg);
}
#newZone-form > div > div > a{
  width: 10em;
  font-family: system-ui;
  font-size: x-large;
  text-align: right;
  margin-right: 1em;
}
#viewsMain {
  height: 80vh;
  overflow: auto;
  transition: all 0.2s;
}
#viewsMain > table {
  width: 80%;
  margin: 0 auto;
}
#viewsMain * td:nth-child(3){
  word-break: break-all;
}
.viewsMain-close{
  height: 15vh !important;
}
#viewsInfo{
  width: inherit;
  transition: all 0.2s;
  height: 0vh;
}

.viewInfo-hedaer{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.viewInfo-hedaer > div{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  word-break: break-all;
  max-height: 10vh;
  overflow: auto;
}
.viewInfo-hedaer * h1 {
  margin: 0;
  font-size: x-large;
}

.viewInfo-hedaer * h2 {
  margin: 0;
}
.viewInfo-front{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: auto;
  height: 47vh;
}
.viewInfo-front > div {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 45vh;
}
.viewInfo-front > div:nth-child(2) {
  width: 40vw;
}
.viewInfo-front > div > div{
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: inherit;
}
.viewInfo-front * h3{
  font-family: sans-serif;
}

.viewInfo-footer{
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleter{
  background: #f59c9c;
}
.deleter:hover{
  background: #ebc3c3;
  cursor: pointer;
}
.viewInfo-front * table {
  font-family: 'Courier New', Courier, serif;
}
.viewInfo-front * td:nth-child(2) {
  word-break: break-all;
}
.viewInfo-front * td:nth-child(3) {
  word-break: break-all;
}
#viewOptTable {
  width: inherit;
}
#viewOptTable > tr:nth-child(1){
  background-color: #4e71866b !important;
}
#viewOptTable > tr:nth-child(2n){
  background-color: #e3f4ffc7;
}
#viewOptTable > tr:nth-child(2n+1){
  background-color: #b3dcf5;
}
#viewOptTable > tr > td:nth-child(1){
  text-align: center;
  width: 24px;
}
#viewOptTable > tr > td:nth-child(2){
  text-align: right;
  width: auto
}
#viewOptTable > tr > td:nth-child(3){
  padding-left: 1em;
  width: auto
}
.newOpt{
  background: #31f21442 !important;
  box-shadow: 0 0 5px 1px rgb(62 157 89) !important;
}
.viewOptsEdit{

}

#viewServTable > tr:nth-child(1){
  background-color: #4e71866b !important;
}
#viewServTable > tr:nth-child(2n){
  background-color: #d5daddc7;
}
#viewServTable > tr:nth-child(2n+1){
  background-color: #d1e2ec;
}
#viewServTable > tr > td:nth-child(1){
  text-align: right;
}
#viewServTable > tr > td:nth-child(2){
  padding-left: 1em;
}

#viewZonesTable > tr:nth-child(1){
  background-color: #4e71866b !important;
}
#viewZonesTable > tr:nth-child(2n){
  background-color: #b3d6dfc7;
}
#viewZonesTable > tr:nth-child(2n+1){
  background-color: #a1cbd6;
}
#viewZonesTable > tr > td:nth-child(1){
  text-align: right;
}
#viewZonesTable > tr > td:nth-child(2){
  padding-left: 1em;
}

#viewOptBlock{
  transition-duration:  0.2s;
  transition-property: font-size, top, background;
  background: transparent;
  width: 40vw;
}
#viewOptBlock > div:nth-child(1){
  min-height: 3em;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#viewOptBlock * h3{
  margin-right: 1em;
}
.viewOptsOpen {
  width: 70vw !important;
  height: 70vh !important;
  margin: 0 auto;
  font-size: x-large;
  background: linear-gradient(320deg, #b6e7fc, #fcfeff) !important;
  border-image: linear-gradient(98deg, #ffffff, #b6e7fc) 1;
  box-shadow: 5px 5px 10px 0px rgb(98 120 133 / 39%);
  overflow: auto;
  /*top: 15vh;*/
}
/* Видимая часть Фронта */
.front_styling{
  margin-top: 0.75em;
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: -1;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}
.visible{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
}
.front_left_side{
  width: 25vw;
}
.front_right_side {
  width: 75vw;
}
/*Стилизация главной кнопки*/
.buttonstyle{
  margin-top: -1.6em;
  margin-left: 0.6em;
}
 
.buttonstyle > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 0.4em);
  font-size: 5em;
  margin: 0;
  margin-bottom: 0.5em;
  list-style-type: square;
  justify-items: end;
  color: #2c9cb5f5;
  transition: 0.2s;
}
.buttonstyle > ul > li {
  margin: 0;
  padding: 0;
  height: 0.4em;
}
.move-left{
  transform:translateX(-0.2em)
}

.move-right{
  transform:translateX(0.2em)
}
.square{
  transition-property: transform;
  transition-duration: 0.2s;
}
.square2{
  transition-property: transform;
  transition-duration: 0.2s;
}
.scale{
  animation: scale 1.5s linear infinite;
  animation-fill-mode:forwards;
}

.rotate{
  animation: rotate 1.5s linear infinite;
}
.buttonstyle:hover > .graphic {
  color: #3edcfff5;
  transform-origin: 55% 65%;
  transform: scale(1.2);
  transition: 0.2s;
  /*animation: scale 0.3s linear 1;
  animation-fill-mode:both;*/
  cursor: pointer;
}



@keyframes scale {
  100% {
    transform-origin: 55% 65%;
    transform: scale(5);
  }
}

@keyframes move{
  100%{
  transform:translateX(-0.2em);
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Сокрытие*/
.hidden{
  display: none !important;
}

@media only screen and (max-width : 980px) {
  .header{
    height: auto;
  }
  .left_block > h1 {
    font-size: x-large;
}
  .left_block > h2 {
    font-size: x-large ;
  }
  .left_pannel{
    width: 100vw;
    left: -100vw;
  }
  .right_pannel {
    right: -100vw;
    width: 100vw;
    min-width: 25em;
    z-index: 3;
  }
  .right_pannel_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    margin: 0 auto;
    height: 60vh;
}
  .el_right_pannel {
    width: inherit;
    overflow: auto;
  }
  .right_select {
    max-width: none;
  }
  .front_left_side {
    width: 35vw;
  }
  #servlist {
    width: max-content;
  }
  #servlist > form {
    height: 5em;
    width: auto;
    padding-right: 1em;
  }
  .settings-svg {
  width: 5em;
  }
  #servlist > form > div > h3 {
    font-size: x-large;
    width: auto;
  }
  #servlist > form > div > a {
    font-size: large;
  }
  #servcontrol {
    margin-top: 0;
    min-width: 35em;
    width: 100vw;
    right: -100vw;
  }
  #viewsMain{
    font-size: x-large;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .viewInfo-front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: x-large;
    max-height: 60vh;

    border-bottom: solid;
    align-items: center;
  }
  .viewInfo-front > div{
    border-top: solid;
    width: 75vw !important;
  }
}

@media only screen and (max-width : 980px) and (max-height : 980px) {
  .viewInfo-front * {
    font-size:medium;
  }
  .viewInfo-front > div {
    height: 15vh;
  }

}