@font-face {
    font-family: DTC;
    src: url(./DTC.otf);
  }
@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
        font-size: inherit;
    }
}
  
@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
        font-size: inherit;
    }
}
body {
    background: linear-gradient(45deg, #84afdb38, #2086c3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page{
    width: 30em;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    background: linear-gradient(180deg, #2c69c587, #8cbfdf40);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px -0.5em 1em rgb(122 122 122 / 50%);
    padding: 0.5em 2em;
}
input {
    font-size: xx-large;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgba(81, 110, 163, 0.904) inset; /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: rgba(167, 209, 243, 0.658);
}
input:-webkit-autofill::first-line  {
    font-size: xx-large;
}
input:-internal-autofill-previewed {
    font-size: xx-large !important;
  }
h1{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: DTC;
    font-size: xx-large;
}
.field{
    border-radius: 10px;
    background: linear-gradient(270deg, #5a98d159, #b0effd9c);
    border-style: none;
}

#submit{
    font-size: xx-large;
    border-radius: 20px;
    width: 7em;
    border-style: none;
    box-shadow: 2px 3px 0.2em rgb(32 33 34);
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background: #6578bf6b;
}
#submit:hover{
    background: #b5bfe2;
}
#submit:active{
    box-shadow: inset 2px 3px 0.2em rgb(32 33 34);
}
::-webkit-input-placeholder{
    color:rgba(16, 60, 126, 0.815);
}

@media screen and (max-width: 980px){
    .container{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        width: 50em;
        height: 40em;
    }
    h1{
        font-size: 5em;
    }
    .field{
        border-radius: 10px;
        font-size: 5em;
        width: 9em;
        margin-bottom: 0.1em;
    }
    input:-webkit-autofill {
        font-size:5em;
    }
    #submit{
        font-size: 5em;
        border-radius: 20px;
    }
}
