.preloader-hide {
    display: none;
    position: fixed;
    width: inherit;
    height: inherit;
    opacity: 0;
    z-index: -10;
    transition: all 0.5s;
}
.preloader-active {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: all 0.5s;
    opacity: 1;
    border-radius: 15px;
    box-shadow: 0 0 1em 2em white;
}

.preloader-2 {
    width: auto;
    height: auto;
}
 
.preloader-2 ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    animation: preloader-2-rot 16s linear infinite;
}
@keyframes preloader-2-rot {
    100% {
        transform: rotate(360deg);
    }
}
.preloader-2 li {
    width: 40px;
    height: 40px;
    background: #337AB7;
    border-radius: 4px;
    animation: preloader-2-scale 0.8s linear alternate infinite;
}
@keyframes preloader-2-scale {
    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}
.preloader-2 li:nth-child(1) {
    z-index: 24;
}
.preloader-2 li:nth-child(2) {
    z-index: 23;
}
.preloader-2 li:nth-child(3) {
    z-index: 22;
}
.preloader-2 li:nth-child(4) {
    z-index: 21;
}
.preloader-2 li:nth-child(5) {
    z-index: 20;
}
.preloader-2 li:nth-child(6) {
    z-index: 19;
}
.preloader-2 li:nth-child(7) {
    z-index: 18;
}
.preloader-2 li:nth-child(8) {
    z-index: 17;
}
.preloader-2 li:nth-child(9) {
    z-index: 16;
}
.preloader-2 li:nth-child(10) {
    z-index: 15;
}
.preloader-2 li:nth-child(11) {
    z-index: 14;
}
.preloader-2 li:nth-child(12) {
    z-index: 13;
}
.preloader-2 li:nth-child(13) {
    z-index: 12;
}
.preloader-2 li:nth-child(14) {
    z-index: 11;
}
.preloader-2 li:nth-child(15) {
    z-index: 10;
}
.preloader-2 li:nth-child(16) {
    z-index: 9;
}
.preloader-2 li:nth-child(17) {
    z-index: 8;
}
.preloader-2 li:nth-child(18) {
    z-index: 7;
}
.preloader-2 li:nth-child(19) {
    z-index: 6;
}
.preloader-2 li:nth-child(20) {
    z-index: 5;
}
.preloader-2 li:nth-child(21) {
    z-index: 4;
}
.preloader-2 li:nth-child(22) {
    z-index: 3;
}
.preloader-2 li:nth-child(23) {
    z-index: 2;
}
.preloader-2 li:nth-child(24) {
    z-index: 1;
}
.preloader-2 li:nth-child(25) {
    z-index: 0;
}
.preloader-2 li:nth-child(1) {
    animation-delay: 0.1s;
}
.preloader-2 li:nth-child(7) {
    animation-delay: 0.3s;
}
.preloader-2 li:nth-child(13) {
    animation-delay: 0.5s;
}
.preloader-2 li:nth-child(19) {
    animation-delay: 0.7s;
}
.preloader-2 li:nth-child(24) {
    animation-delay: 0.9s;
}
.preloader-2 li:nth-child(2) {
    animation-delay: 0.2s;
}
.preloader-2 li:nth-child(8) {
    animation-delay: 0.4s;
}
.preloader-2 li:nth-child(14) {
    animation-delay: 0.6s;
}
.preloader-2 li:nth-child(20) {
    animation-delay: 0.8s;
}
.preloader-2 li:nth-child(3) {
    animation-delay: 0.3s;
}
.preloader-2 li:nth-child(9) {
    animation-delay: 0.5s;
}
.preloader-2 li:nth-child(15) {
    animation-delay: 0.7s;
}
.preloader-2 li:nth-child(4) {
    animation-delay: 0.4s;
}
.preloader-2 li:nth-child(10) {
    animation-delay: 0.6s;
}
.preloader-2 li:nth-child(5) {
    animation-delay: 0.5s;
}
.preloader-2 li:nth-child(1) {
    animation-delay: 0.1s;
}
.preloader-2 li:nth-child(6) {
    animation-delay: 0.2s;
}
.preloader-2 li:nth-child(11) {
    animation-delay: 0.3s;
}
.preloader-2 li:nth-child(16) {
    animation-delay: 0.4s;
}
.preloader-2 li:nth-child(21) {
    animation-delay: 0.5s;
}
.preloader-2 li:nth-child(7) {
    animation-delay: 0.3s;
}
.preloader-2 li:nth-child(12) {
    animation-delay: 0.4s;
}
.preloader-2 li:nth-child(17) {
    animation-delay: 0.5s;
}
.preloader-2 li:nth-child(22) {
    animation-delay: 0.6s;
}
.preloader-2 li:nth-child(13) {
    animation-delay: 0.5s;
}
.preloader-2 li:nth-child(18) {
    animation-delay: 0.6s;
}
.preloader-2 li:nth-child(23) {
    animation-delay: 0.7s;
}
.preloader-2 li:nth-child(19) {
    animation-delay: 0.7s;
}
.preloader-2 li:nth-child(24) {
    animation-delay: 0.8s;
}
.preloader-2 li:nth-child(25) {
    animation-delay: 0.9s;
}