@font-face {
    font-family: DTC;
    src: url(./DTC.otf);
  }
body {
    background: linear-gradient(45deg, #84afdb38, #2086c3);
    height: max-content;
    position: relative;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 95vw;
    min-height: 95vh;
}
table{
    font-size: xx-large;
}
.container{
    background: linear-gradient(180deg, #2c69c587, #8cbfdf40);
    padding: 1em 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    box-shadow: 0px -0.5em 1em rgb(122 122 122 / 50%);
}
.hidden{
    display: none;
}
.show {
    position: absolute;
    z-index: 2;
    white-space: pre;
    text-align: center;
    background: linear-gradient(180deg, #3476d9f2, #b48cdf);
    border-radius: 25px;
    padding: 1em;
    overflow: auto;
}
h1{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: DTC;
    font-size: xx-large;
}
.select{
    width: 20em;
    font-size: x-large;
}
.submit{
    font-size: xx-large;
    border-radius: 20px;
    width: 10em;
    border-style: none;
    box-shadow: 2px 3px 0.2em rgb(32 33 34);
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background: #6578bf6b;
    padding: .2em .4em .2em .4em;
}
.submit:hover{
    background: #b5bfe2;
}
.submit:active{
    box-shadow: inset 2px 3px 0.2em rgb(32 33 34);
}
.select { 
    display: block;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .1em 1.4em .1em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0.2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #2f98e3;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
    linear-gradient(to bottom, #afc2eb 0%,#bcdaf3 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    } 
.select::-ms-expand { display: none; } 
.select:hover { border-color: #888; } 
.select:focus { 
    border-color: #aaa; 
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #222;
    outline: none; 
} 
.select option { font-weight:normal; } 
*[dir="rtl"] .select, :root:lang(ar) .select, :root:lang(iw) .select { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
}

#textinform{
    font-size: x-large;
    font-weight: bolder;
    color: #ffaaaa;
}
.infoblock{
    text-align: left;
    position: relative;
    display: inline-block;
}
@media screen and (max-width: 980px){
    .container{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
        width: 50em;
        height: 40em;
    }
    h1{
        font-size: xx-large;
    }
    .field{
        border-radius: 10px;
        font-size: 5em;
        width: 9em;
        margin-bottom: 0.1em;
    }
    input:-webkit-autofill {
        font-size:xx-large
    }
    #submit{
        font-size: xx-large;
        border-radius: 20px;
    }
}
