<!DOCTYPE html>
<html>
<head>
	<title>Центр управления DNS</title>
	<link rel="stylesheet" href="../static/index-style.css">
	<link rel="stylesheet" href="../static/close-btn.css">
	<link rel="stylesheet" href="../static/preloader.css">
	{# Фавикон #}
	<link rel="apple-touch-icon" sizes="180x180" href="../static/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/fav/favicon-16x16.png">
	<link rel="manifest" href="../static/fav/site.webmanifest">
	<link rel="mask-icon" href="../static/fav/safari-pinned-tab.svg" color="#5bbcd5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">

	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	{# Скрипты уровня document, по ролям #}
	{% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
		<script defer src="../static/js/doc-admins.js"></script>
	{% elif session['role'] == 'user' %}
		<script defer src="../static/js/doc-users.js"></script>
	{% endif %}

	{#	Общие функциональные скрипты #}
	<script defer src="../static/js/default.js"></script>

	{#  Скрипт отправки формы: #}
	<script defer src="../static/js/sendform.js"></script>

	{#	Скрипты управления пользователями (суперадмин) #}
	{% if session['role'] == 'superadmin' %}
		<script defer src="../static/js/usercontrol.js"></script>
	{% endif %}

	{#	Скрипты управления серверами (суперадмин) #}
	{% if session['role'] == 'superadmin' %}
		<script defer src="../static/js/servcontrol.js"></script>
	{% endif %}

	{#	Скрипты отображения серверов (админ) #}
	{% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
		<script defer src="../static/js/servinfo.js"></script>
	{% endif %}

	{#	Скрипты управления зонами, обзорами, доменами (админ) #}
	{% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
		<script defer src="../static/js/tablemaker.js"></script>
		<script defer src="../static/js/zonecontrol.js"></script>
		<script defer src="../static/js/viewcontrol.js"></script>
	{% endif %}

	{#  Скрипт - Обрабочтик овтетов:  #}
	<script defer src="../static/js/handler.js"></script>

</head>
<body>
	<div class="content">
		<div class="header">
			<div class="left_block">
				<h1>Центр управления DNS </h1>
				{% if session['role'] == 'superadmin' %}
					<h2 class="zero-mode">Супер администратор</h2>
				{% elif session['role'] == 'admin' %}
					<h2 class="first-mode">Администратор</h2>
				{% else %}
					<h2 class="second-mode">{{ session['username'] }}</h2>
				{% endif %}
				{# <p>{{ session['username'] }}</p>#}
			</div>
			<div class="center_block">
				<button id="menu_button" onclick="f()">
					<div class="buttonstyle">
						<ul class="graphic">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li class="square"></li>
							<li></li>
							<li class="square2"></li>
						</ul>
					</div>
				</button>
			</div>
			<div class="right_block">
				<div onclick="logout()" id="logout">
					<img class="logout-svg" src="../static/img/logout.svg" alt="Выход">
				</div>
			</div>
		</div>
		<div class="front">
			<div id="preloader" class="preloader-hide">
				<div class="preloader-2">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<div class="invisible">
				<div class="rh_block hidden">
					<div>
						<h1 id="rh_message"></h1>
						<p id="rh_info"></p>
						<button class="common_btn" onclick="cls('.rh_block')">Закрыть</button>
					</div>
				</div>

				<div class="mainmenu hidden">
					<div id="tooltip" class="hidden">
						<button onclick="lefttooltip(false)" class="cl-btn">
							<div class="div-cl-btn">
								<div>
									<span class="left"></span>
									<span class="right"></span>
								</div>
							</div>
						</button>
						<div></div>
					</div>
					<div class="left_pannel">
						<div class="menu_header">
						</div>
						<div class="menu_front">
							{# Управление пользователями (суперадмин) #}
							{% if session['role'] == 'superadmin' %}
								<div class="sa_controls">
									<h2 class="sah2">Управление пользователями</h2>
									<div>
										<button class="cl_button sa_button" id="b-useradd" onclick="rightshow('#f-useradd')">Добавить</button>
										<button class="cl_button sa_button" id="b-useradd" onclick="get_user_list('#userlist-on-ch', '#f-userchange')">Изменить</button>
										{# <button class="sa_button" id="b-useradd" onclick="rightshow('#f-userfind'); get_user_list('#userlist-on-fn')">Найти</button> #}
									</div>
								</div>
							{% endif %}

							{# Управление серверами (суперадмин) #}
							{% if session['role'] == 'superadmin' %}
								<div class="sa_controls">
									<h2 class="sah2">Управление серверами</h2>
									<div>
										<button class="cl_button sa_button" onclick="rightshow('#server-add')">Подключить</button>
										<button class="cl_button sa_button" onclick="get_servlistbox('#servlist-on-ch', '#server-mv')">Изменить</button>
									</div>
								</div>
							{% endif %}

							{# Управление DNS (админ) #}
							{% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
							<div class="adm_controls">
								<h2 class="sah2">Управление пространством имён</h2>
								<div>
									<button class="cl_button adm_button" onclick="get_views_list(0)">Обзоры</button>
									<button class="cl_button adm_button" onclick="get_zones_list(0)">Зоны</button>
									<button class="cl_button adm_button" onclick="">Домены</button>
								</div>
							</div>
							{% endif %}

						</div>
					</div>
					<div class="right_pannel hidden">
						<div class="right_pannel_header">
							<button onclick="rightclose()" class="cl-btn">
								<div class="div-cl-btn">
									<div>
										<span class="left"></span>
										<span class="right"></span>
									</div>
								</div>
							</button>
							<p class="right_pannel_message_info hidden"></p>
						</div>
						<div class="right_pannel_body">
							{#		Окно управления пользователями для роли суперадмина:		#}
							{% if session['role'] == 'superadmin' %}
							{# ДОБАВЛЕНИЕ ЮЗЕРА #}
							<div id="f-useradd" class="el_right_pannel column hidden">
								<h2 class="sah2">Добавить пользователя</h2>							
								<form class="form column" id="usercreate-form" style="align-items: flex-start;">
									<input type="hidden" name="status" value="user">
									<input type="hidden" name="action" value="useradd">
									<div class="column" >
										<input class="right_input" type="text" name="username" placeholder="Псевдоним">
										<select style="width: 15.3em;" class="right_input" name="role">
											<option value="user">Пользователь</option>
											<option value="admin">Администратор</option>
											<option value="superadmin">Суперадминистратор</option>
										</select>
									</div>
									<div>
										<input class="right_input" id="usrpasscreate" type="text" name="passwd" placeholder="Пароль">
										<button style="font-size: large;" class="rndbutton" type="button" onclick="randpass('#usrpasscreate')">Случайный</button>
									</div>
									<button id='b-useradd'class="minibutton sa_minibutton" type="button" onclick="form_submit(this.form)"id="b-usercreate">Создать</button>
								</form>
							</div>

							{# ИЗМЕНЕНИЕ ЮЗЕРА #}
							<div id="f-userchange" class="el_right_pannel column hidden">
								<h2 class="sah2">Изменить данные пользователя</h2>
								<div class="column">
									<form class="form row" id="userchange-form">
										<input type="hidden" name="status" value="user">
										<input type="hidden" name="action" value="userchange">
										<div>
											<select class="right_select" style="width: auto;" id="userlist-on-ch" size="20" onchange="changeuname('#change-username', value)">
											</select>
										</div>
										<div class="column">
											<div>
												<input style="width: 16em" class="right_input" id="change-username" onkeydown="list_filter(this,'#userlist-on-ch')" type="text" name="username" placeholder="Псевдоним">
												<div>
													<input type="checkbox" name="isnewpasswd">
													<input class="right_input" id="usrpasschange" type="text" name="passwd" placeholder="Новый пароль">
													<button style="font-size: large;" class="rndbutton" type="button" onclick="randpass('#usrpasschange')">Случайный</button>
												</div>
												<div>
													<input type="checkbox" name="isnewusername">
													<input class="right_input" name="newusername" placeholder="Новый псевдоним"type="text">
												</div>
												<div>
													<input type="checkbox" name="isnewrole">
													<select style="width: 15.3em" class="right_input" name="newrole">
														<option value="user">Пользователь</option>
														<option value="admin">Администратор</option>
														<option value="superadmin">Суперадминистратор</option>
													</select>
												</div>
											</div>
											<div class="row">
												<button style="margin-right: 1em;" class="minibutton sa_minibutton" type="button" onclick="userchange(this.form)" id="b-userchange">Изменить</button>
												<button style="margin-left: 1em;" class="minibutton sa_minibutton" onclick="userdel(this.form)" type="button" id="b-userdel">Удалить!</button>
											</div>
										</form>
									</div>
								</div>	
							</div>				
							{# НАЙТИ ЮЗЕРА #}
							<div id="f-userfind" class="el_right_pannel column hidden">
								<h2 class="sah2">Подробная информация</h2>
								<form class="form">
								<input type="hidden" name="status" value="userfind">
									<div class="row">
										<select class="right_select" id="userlist-on-fn" size="20" onchange="changeuname('#find-username', value)">
										</select>
										<div>
											<input class="right_input" id="find-username" onkeydown="list_filter(this, '#userlist-on-fn')" type="text" name="username" placeholder="Псевдоним">
											<button class="sa_minibutton" type="button" onclick="form_submit(this.form)" id="b-userfind">Найти</button>
										</div>
									</div>
								</form>
							</div>
							{% endif %}

							{#		Окно управления серверами для роли суперадмина:		#}
							{% if session['role'] == 'superadmin' %}
							{# ДОБАВЛЕНИЕ СЕРВЕРА #}
							<div class="el_right_pannel column hidden" id="server-add">
								<h2 class="sah2">Добавить сервер</h2>	
								<form class="form column">
									<input type="hidden" name="status" value="server">
									<input type="hidden" name="action" value="serveradd">
									<input class="right_input" type="text" name="host" placeholder="Адрес сервера">
									<input class="right_input" type="text" name="port" placeholder="Порт" value="22">
									<input class="right_input" type="text" name="user" placeholder="Имя пользователя">
									<input class="right_input" type="text" name="pass" placeholder="Пароль">
									<button class="minibutton sa_minibutton" type="button" onclick="server(this.form)">Подключиться</button>
								</form>
							</div>
							{# ИЗМЕНЕНИЕ СЕРВЕРА #}
							<div id="server-mv" class="el_right_pannel column hidden">
								<h2 class="sah2">Изменить данные сервера</h2>
								<div class="column">
									<form class="form row" id="servchange-form">
										<input type="hidden" name="status" value="server">
										<input type="hidden" name="action" value="servermv">
										<div>
											<select class="right_select" style="width: auto;" id="servlist-on-ch" size="20" onchange="changeservname('#change-servhost', value)">
											</select>
										</div>
										<div class="column">
											<div class="column">
												<input class="right_input" id="change-servhost" onkeydown="list_filter(this,'#servlist-on-ch')" type="text" name="hostname" placeholder="Адрес сервера">
												<input class="right_input" name="newhostname" placeholder="Новый адрес сервера"type="text">
												<input class="right_input" name="port" placeholder="Порт"type="text">
												<input class="right_input" name="username" placeholder="Пользователь"type="text">
												<input class="right_input" type="text" name="passwd" placeholder="пароль">
											</div>
											<div class="row">
												<button style="margin-right: 1em;" class="minibutton sa_minibutton" type="button" onclick="server(this.form)" id="b-userchange">Изменить</button>
												<button style="margin-left: 1em;" class="minibutton sa_minibutton" onclick="servdel(this.form)" type="button" id="b-userdel">Удалить!</button>
											</div>
										</form>
									</div>
								</div>	
							</div>
							{% endif %}

							{% if session['role'] == 'superadmin' or session['role'] == 'admin' %}
							{#	ПАНЕЛЬ ОБЗОРОВ	#}
							<div id="views" class="el_right_pannel column hidden">
								<div id="viewsMain" class="objectMain"></div>
								<hr style="min-width: calc(49vw - 1.3em);">
								<div id="viewsInfo" class="objectInfo"></div>
							</div>
							{#	ПАНЕЛЬ ЗОН	#}
							<div id="zones" class="el_right_pannel column hidden">
								<div id="zonesMain" class="objectMain"></div>
								<hr style="min-width: calc(49vw - 1.3em);">
								<div id="zonesInfo" class="objectInfo"></div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="visible">
				<div class="front_left_side">
					{% if session['role'] == 'superadmin' or session['role'] == 'admin'%}
						<div id="servlist" class="Column"></div>
					{% endif %}
				</div>
				<div class="front_right_side">
					{% if session['role'] == 'superadmin' or session['role'] == 'admin'%}
						<div id="servcontrol" class="Column hidden">
							<div id="servcontrol_header">
								<button onclick="servcontrol_close()" class="cl-btn">
									<div class="div-cl-btn">
										<div>
											<span class="left"></span>
											<span class="right"></span>
										</div>
									</div>
								</button>
							</div>
							<div id="servcontrols"></div>
							<hr style="width: 45vw;">
							<div>
							</div>
							<div id="servconfig"></div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
