<!DOCTYPE html>
<html>
<head>
	<title>Центр управления</title>
	<link rel="stylesheet" href="../static/index-style.css">
	<link rel="stylesheet" href="../static/close-btn.css">
	<link rel="stylesheet" href="../static/preloader.css">
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	{#	Общие функциональные скрипты #}
	<script>
        $(document).ready(function(){
			window.vanish = '';
		});
		function f(){
			$('.square').toggleClass('move-left');
		
			var elrp = $('.el_right_pannel');
			for (var i = 0; i < elrp.length; i++) {
				if (!$(elrp[i]).hasClass('hidden')) {
					var flag = true;
					break;
				};
			};
			if (flag == true) {
				$('.square2').toggleClass('move-right');
			} else {
				$('.square2').removeClass('move-right');
			};
			document.querySelector('.mainmenu').classList.toggle("hidden");
		};
		function logout(){
			var dt = {status: 'logout'};
			$.ajax({
				type: 'POST',
				url: "{{url_for('index')}}",
				data: dt,
				dataType: 'html'
			  })
			  .done(function(data){
				location.reload();
			  })
			  .fail(function(){
				alert('Внутрення ошибка, перезагрузите страницу!');
			  })		
		};

		function cls(el){
			$(el).addClass("hidden");
		};

		function changer(el){
			$(el).toggleClass("hidden")
		}
    </script>
	
	{#  Скрипт отправки формы: #}
	<script>
		function form_submit(form){
			//$(document).ready(function(){
				//$(form).submit(function (e){
					$.ajax({
					url:'{{url_for("index")}}',
					method: 'POST',
					dataType: 'html',
					data: $(form).serialize()
					})
					.done(function(data) {
						responce_handler(data);
					})
					.fail(function(){
						alert('Внутрення ошибка, перезагрузите страницу!');
					});
				//});
			//});
		};
	</script>


	{#	Скрипты отображения всплывающего меню	 #}
	<script>
		function rightshow(id){
			$('.right_pannel_message_info').addClass('hidden');
			$('.right_pannel').removeClass('hidden');
			$('.el_right_pannel').addClass('hidden');
			$('.square2').addClass('move-right');
			//alert(id)
			$(id).removeClass('hidden');
		};
		function rightclose(){
			$('.right_pannel').addClass('hidden');
			$('.el_right_pannel').addClass('hidden');
			$('.square2').removeClass('move-right');
		};
	</script>

	{#	Скрипты управления пользователями (суперадмин) #}
	{% if session['role'] == 'superadmin' %}
	<script>
		function randpass(el){
			var length = 8,
			charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
			retVal = "";
			for (var i = 0, n = charset.length; i < length; ++i) {
			retVal += charset.charAt(Math.floor(Math.random() * n));
			};
			$(el).val(retVal);
		};
		function changeuname(input, value){
			$(input).val(value);
		};
		function user_list_filter(input, userlist) {
			$(input).on('keyup', function() {
			  var filter = $(this).val().toLowerCase();
			  $('option').each(function() {
				var text = $(this).text().toLowerCase();
				//if ($(this).text().includes(filter)) {
				if (text.includes(filter)){
					$(this).show();
				} else {
				  $(this).hide();
				}
				$(userlist).val(filter);
			  })
			})
		  };
		  function get_user_list(to_listbox){
			$('.preloader-hide').addClass('preloader-active');
			clearTimeout(window.vanish);
			dt = {'status' : 'userfind', 'action' : 'getuserlist'};
			$.ajax({
				url:'{{url_for("index")}}',
				method: 'POST',
				dataType: 'html',
				data: dt
				})
				.done (function(data){
					$(to_listbox).empty();
					var json = JSON.parse(data)
					if (Object.keys(json.usernames).length > 10) {i = 10}
					else { i = Object.keys(json.usernames).length};
					$(to_listbox).attr('size', i);
					for (var key in json.usernames) {
						$(to_listbox).append(function () {
							return $('<option>', {text: json.usernames[key]});
						});
					};
					$('.preloader-hide').addClass('opacity');
					window.vanish = setTimeout(function(){
						$('.preloader-hide').removeClass('preloader-active');
						$('.preloader-hide').removeClass('opacity');
					},500);
				})
				.fail (function(){

				});
		};
		function userdel(form){
			newval = $('#change-username').val();
			if (!newval) {responce_handler('empty_user')}
			else{
				$('#username-fordel').val(newval);
				if (confirm('Потвердите удаление пользователя - '+newval)) { 
					form_submit(form);
				};
			};
		}
	</script>
	{% endif %}

	{#  Скрипт - Обрабочтик овтетов:  #}
	<script>
		function rmi(color, text) {
			$('.right_pannel_message_info').removeClass('hidden')
			clearTimeout(window.vanish);
			$('.right_pannel_message_info').css({'color' : color});
			$('.right_pannel_message_info').text(text);
			window.vanish = setTimeout( function(){
				$('.right_pannel_message_info').addClass('hidden');
			},2000);
			
		};

		function responce_handler(data){
			/* Блок реакций функций управления пользвотаелей*/
			switch(data) {
				case ('empty_login'):
					rmi('red', 'Введите псевдоним и пароль!');
					break;
				case ('add_sucess'):
					rmi('green', 'Пользователь успешно создан!');
					break;
				case ('user_exist'):
					rmi('red', 'Ошибка, пользователь существует!');
					break;
				case ('empty_user'):
					rmi('red', 'Выберете пользователя!');
					break;
				case ('sa_block'):
					rmi('red', 'Запрещено изменять данные первого суперадмина!');
					break;
				case ('bad_username'):
					rmi('red', 'Пользователь не найден!')
					break;
				case ('empty_field'):
					rmi('red', 'Заполните все отмеченные поля!');
					break;
				case ('change_success'):
					rmi('green', 'Данные пользователя успешно изменены!');
					get_user_list('#userlist-on-ch');
					$('#change-username').val('');
					break;
				case ('nothing_change'):
					rmi('red', 'Необходимо отметить поля для изменения!');
					break;
				case ('userdel_success'):
					rmi('green', 'Пользователь успешно удалён!');
					get_user_list('#userlist-on-ch');
					$('#change-username').val('');
					break;
				/* Общие события */
				case ('failure'):
					$('.rh_block').removeClass('hidden');
					$('#rh_message').css({'color' : 'red'});
					$('#rh_message').text('Ошибка выполнения функции!');
					break;
				case ('bad_role'):
					$('.rh_block').removeClass('hidden');
					$('#rh_message').css({'color' : 'red'});
					$('#rh_message').text('Ошибка при прямом обращении к роли!');
					break;
				default:
					alert(data);
					break;
			};
		};

	</script>
</head>
<body>
	<div class="content">
		<div class="header">
			<div class="left_block">
				<h1>Центр управления DNS </h1>
				{% if session['role'] == 'superadmin' %}
					<h2 class="zero-mode">Супер администратор</h2>
				{% elif session['role'] == 'admin' %}
					<h2 class="first-mode">Администратор</h2>
				{% else %}
					<h2 class="second-mode">Пользователь - {{ session['username'] }}</h2>
				{% endif %}
				<p>{{config.get('version')}} - {{config.get('hostname')}}</p>
			</div>
			<div class="center_block">
				<button id="menu_button" onclick="f()">
					<div class="buttonstyle">
						<ul class="graphic">
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li class="square"></li>
							<li></li>
							<li class="square2"></li>
						</ul>
					</div>
				</button>
			</div>
			<div class="right_block">
				<button id="logout" onclick="logout()">
					<svg class="logout-svg"xmlns="http://www.w3.org/2000/svg" 
					version="1.1" 
					width="64"
					height="64" 
					viewBox="0 0 512 512" 
					style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g><path style="opacity:0.965" fill="#02bdff" d="M 249.5,-0.5 C 253.5,-0.5 257.5,-0.5 261.5,-0.5C 281.689,6.67495 302.022,13.6749 322.5,20.5C 295.338,21.4979 268.005,21.8312 240.5,21.5C 238.094,11.6978 241.094,4.36448 249.5,-0.5 Z"/></g>
						<g><path style="opacity:0.979" fill="#06b8ff" d="M 322.5,20.5 C 353.389,30.4627 384.056,40.796 414.5,51.5C 382.996,51.1685 351.662,51.5018 320.5,52.5C 303.894,46.9647 287.228,41.6314 270.5,36.5C 270.5,41.5 270.5,46.5 270.5,51.5C 260.5,51.5 250.5,51.5 240.5,51.5C 240.5,41.5 240.5,31.5 240.5,21.5C 268.005,21.8312 295.338,21.4979 322.5,20.5 Z"/></g>
						<g><path style="opacity:0.998" fill="#0bb2ff" d="M 240.5,51.5 C 250.5,51.5 260.5,51.5 270.5,51.5C 270.5,59.1667 270.5,66.8333 270.5,74.5C 210.5,74.5 150.5,74.5 90.5,74.5C 90.423,67.7461 93.423,62.9128 99.5,60C 146.499,59.5 193.499,59.3333 240.5,59.5C 240.5,56.8333 240.5,54.1667 240.5,51.5 Z"/></g>
						<g><path style="opacity:0.986" fill="#0bb2ff" d="M 320.5,52.5 C 351.662,51.5018 382.996,51.1685 414.5,51.5C 425.583,54.2494 436.25,58.0828 446.5,63C 447.667,64.8333 448.833,66.6667 450,68.5C 450.499,74.1569 450.666,79.8236 450.5,85.5C 440.5,85.5 430.5,85.5 420.5,85.5C 387.027,74.8977 353.693,63.8977 320.5,52.5 Z"/></g>
						<g><path style="opacity:1" fill="#0dafff" d="M 90.5,74.5 C 150.5,74.5 210.5,74.5 270.5,74.5C 270.5,78.1667 270.5,81.8333 270.5,85.5C 210.5,85.5 150.5,85.5 90.5,85.5C 90.5,81.8333 90.5,78.1667 90.5,74.5 Z"/></g>
						<g><path style="opacity:1" fill="#10acff" d="M 90.5,85.5 C 150.5,85.5 210.5,85.5 270.5,85.5C 270.5,95.5 270.5,105.5 270.5,115.5C 260.5,115.5 250.5,115.5 240.5,115.5C 240.5,106.833 240.5,98.1667 240.5,89.5C 200.5,89.5 160.5,89.5 120.5,89.5C 120.5,98.1667 120.5,106.833 120.5,115.5C 110.5,115.5 100.5,115.5 90.5,115.5C 90.5,105.5 90.5,95.5 90.5,85.5 Z"/></g>
						<g><path style="opacity:1" fill="#10abff" d="M 420.5,85.5 C 430.5,85.5 440.5,85.5 450.5,85.5C 450.5,95.5 450.5,105.5 450.5,115.5C 440.5,115.5 430.5,115.5 420.5,115.5C 420.5,105.5 420.5,95.5 420.5,85.5 Z"/></g>
						<g><path style="opacity:1" fill="#15a5ff" d="M 90.5,115.5 C 100.5,115.5 110.5,115.5 120.5,115.5C 120.5,125.167 120.5,134.833 120.5,144.5C 110.5,144.5 100.5,144.5 90.5,144.5C 90.5,134.833 90.5,125.167 90.5,115.5 Z"/></g>
						<g><path style="opacity:1" fill="#15a5ff" d="M 240.5,115.5 C 250.5,115.5 260.5,115.5 270.5,115.5C 270.5,125.167 270.5,134.833 270.5,144.5C 260.5,144.5 250.5,144.5 240.5,144.5C 240.5,134.833 240.5,125.167 240.5,115.5 Z"/></g>
						<g><path style="opacity:1" fill="#15a5ff" d="M 420.5,115.5 C 430.5,115.5 440.5,115.5 450.5,115.5C 450.5,125.167 450.5,134.833 450.5,144.5C 440.5,144.5 430.5,144.5 420.5,144.5C 420.5,134.833 420.5,125.167 420.5,115.5 Z"/></g>
						<g><path style="opacity:1" fill="#1a9fff" d="M 90.5,144.5 C 100.5,144.5 110.5,144.5 120.5,144.5C 120.5,154.5 120.5,164.5 120.5,174.5C 110.5,174.5 100.5,174.5 90.5,174.5C 90.5,164.5 90.5,154.5 90.5,144.5 Z"/></g>
						<g><path style="opacity:1" fill="#1a9fff" d="M 240.5,144.5 C 250.5,144.5 260.5,144.5 270.5,144.5C 270.5,154.5 270.5,164.5 270.5,174.5C 260.5,174.5 250.5,174.5 240.5,174.5C 240.5,164.5 240.5,154.5 240.5,144.5 Z"/></g>
						<g><path style="opacity:1" fill="#1a9fff" d="M 420.5,144.5 C 430.5,144.5 440.5,144.5 450.5,144.5C 450.5,154.5 450.5,164.5 450.5,174.5C 440.5,174.5 430.5,174.5 420.5,174.5C 420.5,164.5 420.5,154.5 420.5,144.5 Z"/></g>
						<g><path style="opacity:1" fill="#2098ff" d="M 90.5,174.5 C 100.5,174.5 110.5,174.5 120.5,174.5C 120.5,185.833 120.5,197.167 120.5,208.5C 110.5,208.5 100.5,208.5 90.5,208.5C 90.5,197.167 90.5,185.833 90.5,174.5 Z"/></g>
						<g><path style="opacity:1" fill="#2098ff" d="M 240.5,174.5 C 250.5,174.5 260.5,174.5 270.5,174.5C 270.5,185.833 270.5,197.167 270.5,208.5C 260.5,208.5 250.5,208.5 240.5,208.5C 240.5,197.167 240.5,185.833 240.5,174.5 Z"/></g>
						<g><path style="opacity:1" fill="#2098ff" d="M 420.5,174.5 C 430.5,174.5 440.5,174.5 450.5,174.5C 450.5,185.833 450.5,197.167 450.5,208.5C 440.5,208.5 430.5,208.5 420.5,208.5C 420.5,197.167 420.5,185.833 420.5,174.5 Z"/></g>
						<g><path style="opacity:1" fill="#2591ff" d="M 90.5,208.5 C 100.5,208.5 110.5,208.5 120.5,208.5C 120.5,218.5 120.5,228.5 120.5,238.5C 110.5,238.5 100.5,238.5 90.5,238.5C 90.5,228.5 90.5,218.5 90.5,208.5 Z"/></g>
						<g><path style="opacity:0.988" fill="#2691ff" d="M 200.5,238.5 C 185.99,238.171 171.657,238.504 157.5,239.5C 150.883,234.442 148.716,227.775 151,219.5C 155.348,211.085 162.181,208.252 171.5,211C 181.97,219.302 191.636,228.469 200.5,238.5 Z"/></g>
						<g><path style="opacity:1" fill="#2591ff" d="M 240.5,208.5 C 250.5,208.5 260.5,208.5 270.5,208.5C 270.5,218.5 270.5,228.5 270.5,238.5C 260.5,238.5 250.5,238.5 240.5,238.5C 240.5,228.5 240.5,218.5 240.5,208.5 Z"/></g>
						<g><path style="opacity:1" fill="#2591ff" d="M 330.5,238.5 C 320.5,238.5 310.5,238.5 300.5,238.5C 300.075,231.385 300.575,224.385 302,217.5C 305.017,212.408 309.517,210.074 315.5,210.5C 321.483,210.074 325.983,212.408 329,217.5C 330.425,224.385 330.925,231.385 330.5,238.5 Z"/></g>
						<g><path style="opacity:1" fill="#2591ff" d="M 420.5,208.5 C 430.5,208.5 440.5,208.5 450.5,208.5C 450.5,218.5 450.5,228.5 450.5,238.5C 440.5,238.5 430.5,238.5 420.5,238.5C 420.5,228.5 420.5,218.5 420.5,208.5 Z"/></g>
						<g><path style="opacity:0.995" fill="#2a8cff" d="M 90.5,238.5 C 100.5,238.5 110.5,238.5 120.5,238.5C 126.295,239.83 132.462,240.496 139,240.5C 145.343,240.5 151.509,240.166 157.5,239.5C 171.657,238.504 185.99,238.171 200.5,238.5C 209.17,243.845 212.336,251.512 210,261.5C 208.629,264.266 206.796,266.599 204.5,268.5C 158.736,267.17 113.069,267.17 67.5,268.5C 64.4405,267.086 62.2738,264.753 61,261.5C 58.2517,252.181 61.0851,245.348 69.5,241C 76.9048,241.135 83.9048,240.302 90.5,238.5 Z"/></g>
						<g><path style="opacity:1" fill="#2a8cff" d="M 240.5,238.5 C 250.5,238.5 260.5,238.5 270.5,238.5C 270.5,248.167 270.5,257.833 270.5,267.5C 260.5,267.5 250.5,267.5 240.5,267.5C 240.5,257.833 240.5,248.167 240.5,238.5 Z"/></g>
						<g><path style="opacity:0.994" fill="#2a8cff" d="M 300.5,238.5 C 310.5,238.5 320.5,238.5 330.5,238.5C 337.095,240.302 344.095,241.135 351.5,241C 359.915,245.348 362.748,252.181 360,261.5C 358.726,264.753 356.56,267.086 353.5,268.5C 336.008,267.503 318.341,267.17 300.5,267.5C 300.5,257.833 300.5,248.167 300.5,238.5 Z"/></g>
						<g><path style="opacity:1" fill="#2a8cff" d="M 420.5,238.5 C 430.5,238.5 440.5,238.5 450.5,238.5C 450.5,248.167 450.5,257.833 450.5,267.5C 440.5,267.5 430.5,267.5 420.5,267.5C 420.5,257.833 420.5,248.167 420.5,238.5 Z"/></g>
						<g><path style="opacity:0.992" fill="#2e86ff" d="M 204.5,268.5 C 194.304,279.863 183.304,290.363 171.5,300C 155.333,302.5 148.5,295.667 151,279.5C 152.561,276.217 154.727,273.383 157.5,271C 145.171,270.5 132.838,270.333 120.5,270.5C 120.5,279.5 120.5,288.5 120.5,297.5C 110.5,297.5 100.5,297.5 90.5,297.5C 90.5,288.5 90.5,279.5 90.5,270.5C 83.4921,270.666 76.4921,270.5 69.5,270C 68.5842,269.722 67.9175,269.222 67.5,268.5C 113.069,267.17 158.736,267.17 204.5,268.5 Z"/></g>
						<g><path style="opacity:1" fill="#2f86ff" d="M 240.5,267.5 C 250.5,267.5 260.5,267.5 270.5,267.5C 270.5,277.5 270.5,287.5 270.5,297.5C 260.5,297.5 250.5,297.5 240.5,297.5C 240.5,287.5 240.5,277.5 240.5,267.5 Z"/></g>
						<g><path style="opacity:0.992" fill="#2e86ff" d="M 300.5,267.5 C 318.341,267.17 336.008,267.503 353.5,268.5C 353.082,269.222 352.416,269.722 351.5,270C 344.508,270.5 337.508,270.666 330.5,270.5C 330.666,277.508 330.5,284.508 330,291.5C 325.652,299.915 318.819,302.748 309.5,300C 305.333,298.5 302.5,295.667 301,291.5C 300.5,283.507 300.334,275.507 300.5,267.5 Z"/></g>
						<g><path style="opacity:1" fill="#2f86ff" d="M 420.5,267.5 C 430.5,267.5 440.5,267.5 450.5,267.5C 450.5,277.5 450.5,287.5 450.5,297.5C 440.5,297.5 430.5,297.5 420.5,297.5C 420.5,287.5 420.5,277.5 420.5,267.5 Z"/></g>
						<g><path style="opacity:1" fill="#3480ff" d="M 90.5,297.5 C 100.5,297.5 110.5,297.5 120.5,297.5C 120.5,308.833 120.5,320.167 120.5,331.5C 110.5,331.5 100.5,331.5 90.5,331.5C 90.5,320.167 90.5,308.833 90.5,297.5 Z"/></g>
						<g><path style="opacity:1" fill="#3480ff" d="M 240.5,297.5 C 250.5,297.5 260.5,297.5 270.5,297.5C 270.5,308.833 270.5,320.167 270.5,331.5C 260.5,331.5 250.5,331.5 240.5,331.5C 240.5,320.167 240.5,308.833 240.5,297.5 Z"/></g>
						<g><path style="opacity:1" fill="#3480ff" d="M 420.5,297.5 C 430.5,297.5 440.5,297.5 450.5,297.5C 450.5,308.833 450.5,320.167 450.5,331.5C 440.5,331.5 430.5,331.5 420.5,331.5C 420.5,320.167 420.5,308.833 420.5,297.5 Z"/></g>
						<g><path style="opacity:1" fill="#3979ff" d="M 90.5,331.5 C 100.5,331.5 110.5,331.5 120.5,331.5C 120.5,341.5 120.5,351.5 120.5,361.5C 110.5,361.5 100.5,361.5 90.5,361.5C 90.5,351.5 90.5,341.5 90.5,331.5 Z"/></g>
						<g><path style="opacity:1" fill="#3979ff" d="M 240.5,331.5 C 250.5,331.5 260.5,331.5 270.5,331.5C 270.5,341.5 270.5,351.5 270.5,361.5C 260.5,361.5 250.5,361.5 240.5,361.5C 240.5,351.5 240.5,341.5 240.5,331.5 Z"/></g>
						<g><path style="opacity:1" fill="#3979ff" d="M 420.5,331.5 C 430.5,331.5 440.5,331.5 450.5,331.5C 450.5,341.5 450.5,351.5 450.5,361.5C 440.5,361.5 430.5,361.5 420.5,361.5C 420.5,351.5 420.5,341.5 420.5,331.5 Z"/></g>
						<g><path style="opacity:1" fill="#3e73ff" d="M 90.5,361.5 C 100.5,361.5 110.5,361.5 120.5,361.5C 120.5,371.167 120.5,380.833 120.5,390.5C 110.5,390.5 100.5,390.5 90.5,390.5C 90.5,380.833 90.5,371.167 90.5,361.5 Z"/></g>
						<g><path style="opacity:1" fill="#3e73ff" d="M 240.5,361.5 C 250.5,361.5 260.5,361.5 270.5,361.5C 270.5,371.167 270.5,380.833 270.5,390.5C 260.5,390.5 250.5,390.5 240.5,390.5C 240.5,380.833 240.5,371.167 240.5,361.5 Z"/></g>
						<g><path style="opacity:1" fill="#3e73ff" d="M 420.5,361.5 C 430.5,361.5 440.5,361.5 450.5,361.5C 450.5,371.167 450.5,380.833 450.5,390.5C 440.5,390.5 430.5,390.5 420.5,390.5C 420.5,380.833 420.5,371.167 420.5,361.5 Z"/></g>
						<g><path style="opacity:1" fill="#436dff" d="M 90.5,390.5 C 100.5,390.5 110.5,390.5 120.5,390.5C 120.5,400.5 120.5,410.5 120.5,420.5C 110.5,420.5 100.5,420.5 90.5,420.5C 90.5,410.5 90.5,400.5 90.5,390.5 Z"/></g>
						<g><path style="opacity:1" fill="#436dff" d="M 240.5,390.5 C 250.5,390.5 260.5,390.5 270.5,390.5C 270.5,400.5 270.5,410.5 270.5,420.5C 260.5,420.5 250.5,420.5 240.5,420.5C 240.5,410.5 240.5,400.5 240.5,390.5 Z"/></g>
						<g><path style="opacity:1" fill="#436dff" d="M 420.5,390.5 C 430.5,390.5 440.5,390.5 450.5,390.5C 450.5,400.5 450.5,410.5 450.5,420.5C 440.5,420.5 430.5,420.5 420.5,420.5C 420.5,410.5 420.5,400.5 420.5,390.5 Z"/></g>
						<g><path style="opacity:0.999" fill="#4867ff" d="M 90.5,420.5 C 100.5,420.5 110.5,420.5 120.5,420.5C 160.5,421.833 200.5,421.833 240.5,420.5C 250.5,420.5 260.5,420.5 270.5,420.5C 270.5,431.833 270.5,443.167 270.5,454.5C 260.5,454.5 250.5,454.5 240.5,454.5C 240.5,453.5 240.5,452.5 240.5,451.5C 193.499,451.667 146.499,451.5 99.5,451C 95.3333,449.5 92.5,446.667 91,442.5C 90.5003,435.174 90.3337,427.841 90.5,420.5 Z"/></g>
						<g><path style="opacity:0.983" fill="#4966ff" d="M 420.5,420.5 C 430.5,420.5 440.5,420.5 450.5,420.5C 456.065,440.091 449.065,451.425 429.5,454.5C 397.996,454.832 366.662,454.498 335.5,453.5C 363.693,443.769 392.027,434.436 420.5,425.5C 420.5,423.833 420.5,422.167 420.5,420.5 Z"/></g>
						<g><path style="opacity:0.986" fill="#4d60ff" d="M 335.5,453.5 C 366.662,454.498 397.996,454.832 429.5,454.5C 399.784,465.072 369.784,475.072 339.5,484.5C 306.5,484.5 273.5,484.5 240.5,484.5C 240.5,474.5 240.5,464.5 240.5,454.5C 250.5,454.5 260.5,454.5 270.5,454.5C 270.5,461.167 270.5,467.833 270.5,474.5C 292.228,467.702 313.895,460.702 335.5,453.5 Z"/></g>
						<g><path style="opacity:0.976" fill="#525bff" d="M 240.5,484.5 C 273.5,484.5 306.5,484.5 339.5,484.5C 313.5,493.5 287.5,502.5 261.5,511.5C 257.5,511.5 253.5,511.5 249.5,511.5C 245.521,509.685 242.688,506.685 241,502.5C 240.501,496.509 240.334,490.509 240.5,484.5 Z"/></g>
						</svg>
				</button>
			</div>
		</div>
		<div class="front">
			<div class="rh_block hidden">
				<div>
					<h1 id="rh_message"></h1>
					<p id="rh_info"></p>
					<button class="common_btn" onclick="cls('.rh_block')">Закрыть</button>
				</div>
			</div>
			<div class="mainmenu hidden">
				<div class="left_pannel">
					<div class="menu_header">
					</div>
					<div class="menu_front">
						{% if session['role'] == 'superadmin' %}
							<div class="users_control">
								<h2 class="sah2">Управление пользователями</h2>
								<div>
									<button class="sa_button" id="b-useradd" onclick="rightshow('#f-useradd')">Добавить</button>
									<button class="sa_button" id="b-useradd" onclick="rightshow('#f-userchange'); get_user_list('#userlist-on-ch')">Изменить</button>
									<button class="sa_button" id="b-useradd" onclick="rightshow('#f-userfind'); get_user_list('#userlist-on-fn')">Найти</button>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="right_pannel hidden">
					<div class="preloader-hide">
						<div class="preloader-2">
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div class="right_pannel_header">
						<p class="right_pannel_message_info hidden"></p>
						<button onclick="rightclose()">
							<div class="cl-btn-1">
								<div>
									<span class="left"></span>
									<span class="right"></span>
								</div>
							</div>
						</button>

					</div>
					{#		Окно управления пользователями для роли суперадмина:		#}
					{% if session['role'] == 'superadmin' %}

						{# ДОБАВЛЕНИЕ ЮЗЕРА #}

					<div id="f-useradd" class="el_right_pannel column hidden">
						<h2 class="sah2">Добавить пользователя</h2>							
						<form class="form" id="usercreate-form">
							<input type="hidden" name="status" value="useradd">
							<div>
								<input type="text" name="username" placeholder="Псевдоним">
								<select name="role">
									<option value="user">Пользователь</option>
									<option value="admin">Администратор</option>
									<option value="superadmin">Суперадминистратор</option>
								</select>
							</div>
							<div>
								<input id="usrpasscreate" type="text" name="passwd" placeholder="Пароль">
								<button type="button" onclick="randpass('#usrpasscreate')">Сгенерировать</button>
							</div>
							<button class="sa_button" type="button" onclick="form_submit(this.form)"id="b-usercreate">Создать</button>
						</form>
					</div>

						{# ИЗМЕНЕНИЕ ЮЗЕРА #}

					<div id="f-userchange" class="el_right_pannel column hidden">
						<h2 class="sah2">Изменить данные пользователя</h2>
						<div class="column">
							<form class="form row" id="userchange-form">
								<input type="hidden" name="status" value="userchange">
								<input type="hidden" name="action" value="change">
								<div>
									<select id="userlist-on-ch" size="20" onchange="changeuname('#change-username', value)">
									</select>
								</div>
								<div class="column">
									<div>
										<input id="change-username" onkeydown="user_list_filter(this,'#userlist-on-ch')" type="text" name="username" placeholder="Псевдоним">
										<div>
											<input type="checkbox" name="isnewpasswd">
											<input id="usrpasschange" type="text" name="passwd" placeholder="Новый пароль">
											<button type="button" onclick="randpass('#usrpasschange')">Сгенерировать</button>
										</div>
										<div>
											<input type="checkbox" name="isnewusername">
											<input name="newusername" placeholder="Новый псевдоним"type="text">
										</div>
										<div>
											<input type="checkbox" name="isnewrole">
											<select name="newrole">
												<option value="user">Пользователь</option>
												<option value="admin">Администратор</option>
												<option value="superadmin">Суперадминистратор</option>
											</select>
										</div>
									</div>
								</form>
								<form class="form" id="userdel-form">
									<input type="hidden" name="status" value="userdel">
									<input type="hidden" name="action" value="userdel">
									<input id="username-fordel" type="hidden" name="username" value="test">
								</form>
								<div class="row">
									<button style="margin-right: 1em;" form="userchange-form" class="sa_button" type="button" onclick="form_submit(this.form)" id="b-userchange">Изменить</button>
									<button style="margin-left: 1em;" form="userdel-form"class="sa_button" onclick="userdel(this.form)" type="button" id="b-userdel">Удалить!</button>
								</div>
							</div>
						</div>	
					</div>				

					{# НАЙТИ ЮЗЕРА #}

					<div id="f-userfind" class="el_right_pannel column hidden">
						<h2 class="sah2">Подробная информация</h2>
						<form class="form">
						<input type="hidden" name="status" value="userfind">
							<div class="row">
								<select id="userlist-on-fn" size="20" onchange="changeuname('#find-username', value)">
								</select>
								<div>
									<input id="find-username" onkeydown="user_list_filter(this, '#userlist-on-fn')" type="text" name="username" placeholder="Псевдоним">
									<button class="sa_button" type="button" onclick="form_submit(this.form)" id="b-userfind">Найти</button>
								</div>
							</div>
						</form>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="server_panel">
				{% if session['role'] == 'superadmin' %}
					<div>
						<button onclick="changer('#server-add')">Подключиться к серверу</button>
					</div>
					<div class="hidden" id="server-add">
						<form class="form">
							<input type="hidden" name="status" value="serveradd">
							<input type="text" name="host" placeholder="Адрес">
							<input type="text" name="port" placeholder="Порт" value="22">
							<input type="text" name="user" placeholder="Имя пользователя">
							<input type="text" name="pass" placeholder="Пароль">
							<button type="button" onclick="form_submit(this.form)">Подключиться</button>
						</form>

					</div>
				{% endif %}
			</div>
		</div>
	</div>
</body>
</html>
