<html>
    <head>
        <title>Настройка WeBind</title>
        <link rel="stylesheet" href="../static/setup-style.css">

    </head>
    <body>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#form').submit(function (e){
                    e.preventDefault();
                    $.ajax({
                    url:'{{url_for("index")}}',
                    method: 'POST',
                    dataType: 'html',
                    data: $(this).serialize()
                    })
                    .done(function(data) {
                        document.querySelector('#info').classList.remove("hidden");
                        if (data) {
                            document.querySelector("#message").textContent = 'Ошибка! WeBind не имеет доступа к следующим объектам';
                            document.querySelector('#textinform').textContent = data;
                        } else {
                            document.querySelector('#message').style.color = '#a6ffa6';
                            document.querySelector('#message').textContent = 'Все файлы прошли проверки, сформирован config.yaml';
                            document.querySelector('#textinform').textContent = '';
                            document.querySelector('.container').classList.add('hidden');
                            document.querySelector('#ok').textContent = 'Войти';
                            document.getElementById('ok').onclick = Done;
                        }
                    })
                    .fail(function(){
                        alert('Внутрення ошибка, перезагрузите страницу!');
                    });
                });
            });
        </script>
        <script>
            function ok(){
                document.querySelector('#info').classList.add("hidden");
            }
            function Done(){
                window.location.replace("{{url_for('index')}}")
            }
        </script>
        <div class="page">
            <div id="info" class="show hidden">
                <h2 id="message"></h1>
                <div class="infoblock"><p id="textinform"></p></div>
                <button class="submit" id="ok" onClick="ok()">Закрыть</button>
            </div>
            <div class="container">
                <h1>Предварительная настройка</h1>
                <div>
                    {% if error:%}
                        <h1>{{error}}</h1>
                    {% endif %}
                    <form id="form">
                        <input type="hidden" name="status" value="filecheck">
                        <table>
                            <tr><th>Необходимые файлы</th><th>Найденные пути</th></tr>
                            {% for key, value in finder.items() %}
                            <tr>
                                <td><p>{{key}}</p></td> 
                                <td>
                                    <select class="select" name="{{key}}">
                                        {% for path in value %}
                                            <option>{{ path }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                            </form>
                        </table>
                        <p><button type="submit" class="submit" value="Check">Проверить файлы</button></p>
                        <div id="message"></div>
                    </form>
                </div>
            </div>
        </div>	
    </body>
</html>