<html>
    <head>
        <title>Тесторвая страница</title>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#form').submit(function (e){
                    e.preventDefault();
                    $.ajax({
                    url:"{{url_for('test')}}",
                    method: 'POST',
                    dataType: 'html',
                    data: $(this).serialize()
                    })
                    .done(function(data) {
                        alert(data);   
                    })
                    .fail(function(){
                        alert('Внутрення ошибка, перезагрузите страницу!');
                    });
                });
            });
        </script>
    </head>
    <body>
        <form id="form">
            <input type="hidden" name="status" value="login">
            <input type="text" name="txt">
            <select name="dbtype">
                <option>MySQL</option>
                <option>PostgreSQL</option>
              </select>
            <button type="submit">OK</button>
        </form>
    </body>
</html>